[package]
name = "ehviewer_rust"
version = "0.0.0"
resolver = "2"

[lib]
crate_type = ["cdylib"]

[dependencies]
regex-lite = { version = "0.1.5" }
jni = "0.21.1"
quick-xml = { default-features = false, version = "0.31" }
tl = "0.7.8"
log = "0.4.21"
android_logger = { default-features = false, version = "0.13.3" }
once_cell = { default-features = false, version = "1.19" }
serde_cbor = "0.11.2"
serde = { version = "1.0.200", features = ["derive"] }
sha1 = { version = "0.10.6", features = ["asm"] }
base16ct = { version = "0.2", features = ["std"] }
anyhow = { version = "1.0.82" }

[profile.release]
panic = "abort"
strip = true
lto = true
codegen-units = 1
